.PartyMember {
  user-select: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.PartyMember-icon {
  width: 100%;
  max-width: 4rem;
  aspect-ratio: 1;
}

.PartyMember:hover .PartyMember-icon:not(.guessing) {
  filter: drop-shadow(0 0 0.5rem hsl(60, 100%, 50%));
}

.PartyMember:hover .PartyMember-icon.guessing {
  cursor: default;
}

.PartyMember-icon.correct {
  filter: drop-shadow(0 0 0.5rem hsl(120, 100%, 35%));
}

.PartyMember-icon.also-correct {
  filter: drop-shadow(0 0 0.5rem hsl(180, 100%, 50%));
}

.PartyMember-icon.incorrect {
  filter: drop-shadow(0 0 0.5rem hsl(0, 100%, 43%));
}
